<div class="my-5 pt-sm-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <div>
                        <div class="row justify-content-center">
                            <div class="col-sm-5">
                                <div class="">
                                    <img src="assets/images/server-error.png" alt=""
                                        class="img-fluid mx-auto d-block" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <h1 class="text-uppercase mt-4">{{error}}!!</h1>
                    <h4 class="text-uppercase mt-4">Errores internos en el servidor</h4>

                    <div class="mt-5">
                        <a class="btn btn-primary waves-effect waves-light" (click)="backUrl()">Regresar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>