<div class="contenido">
    <label class="control-label">Ver locaciones de tipo</label>
    <div class="row row-space-12">
        <div class="col-md-8 m-b-15">
            <p-dropdown [options]="listEstanterias" [(ngModel)]="estanteriaSeleccionada" optionLabel="dsc" [filter]="true" filterBy="dsc" (onChange)="cambioTipoEstanteria()">
                <ng-template pTemplate="selectedItem">
                    <div *ngIf="estanteriaSeleccionada">
                        <div>{{estanteriaSeleccionada.dsc}}</div>
                    </div>
                </ng-template>
                <ng-template let-testa pTemplate="item">
                    <div>
                        <div>{{testa.dsc}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
        </div>
    </div>
    <div class="row row-space-12">
        <div class="col-md-12 m-b-15">
            <div class="p-field-checkbox">
                <!-- <label for="binary" class="mr-4">Solo traer locaciones sin asignar</label> -->
                <p-checkbox label="Solo traer locaciones sin asignar" [(ngModel)]="solosinasignar" binary="true" inputId="binary" (onChange)="cambioTipoEstanteria()"></p-checkbox>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-12">
            <p-table [value]="listLocaciones" #locas dataKey="id" [rows]="6" [showCurrentPageReport]="true" styleClass="p-datatable-customers" [paginator]="true" currentPageReportTemplate="{first} a {last} de {totalRecords} locaciones">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="locacion.locacionId">
                            Locación
                            <p-sortIcon field="locacion.locacionId"></p-sortIcon>
                        </th>
                        <th>Sel.</th>
                    </tr>
                    <tr>
                        <th>
                            <input pInputText style="width: 100%;" type="text" (input)="locas.filter($event.target.value, 'locacion.locacionId', 'contains')">
                            <!-- <p-columnFilter type="text" field="locacion.locacionId" matchMode="in" [showMenu]="false"></p-columnFilter> -->
                        </th>
                        <th> </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-loca>
                    <tr>
                        <td>{{loca.locacion.locacionId}}</td>
                        <td>
                            <div class="p-field-checkbox">
                                <p-checkbox (onChange)="onChangeCheck($event, loca)" binary="true" [(ngModel)]="loca.checked"></p-checkbox>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<!-- <div class="mifooter"> -->
<div class="row row-space-12 mifooter">
    <div class="col-md-6 m-b-15">
        <button class="btn btn-primary btn-block ml-2 mt-2" (click)="confirmo()">Confirmar</button>
    </div>
    <div class="col-md-6 m-b-15">
        <button class="btn btn-danger btn-block mr-2 mt-2" (click)="volver()">Cancelar</button>
    </div>
</div>
<!-- </div> -->