<panel title="Crear un gasto">
  <div class="register-content">
      <form #f="ngForm" (ngSubmit)="crearRecibo(f)" class="margin-bottom-0">
          <div class="row row-space-10">
              <label class="control-label col-md-1">Via de Pago<span class="text-danger">*</span></label>
              <div class="col-md-3" *ngIf="vavia">
                <select class="form-control" (change)="onChangeVia($event.target.value)">
                    <option *ngFor="let via of varsVia" [selected]="lavia.nombre.trim() == via.nombre.trim()" [ngValue]="lavia" >{{via.nombre}}</option>
                </select>
              </div>
              <div class="col-md-3" *ngIf="!vavia">
                <input [(ngModel)]="objRec.viapago.nombre" name="vapai" class="form-control" disabled />
              </div>

              <label class="control-label col-md-1"># Gasto</label>
              <div class="col-md-2">
                  <input [(ngModel)]="objRec.recibo" name="gasto" class="form-control" />
              </div>

              <label class="control-label col-md-1">Fecha <span class="text-danger">*</span></label>
              <div class="col-md-2">
                  <input type="date" [(ngModel)]="fechoy" name="fecha" class="form-control" placeholder="" required />
              </div>
          </div>

          <div class="row row-space-10 m-b-15 m-t-15">
            <label class="control-label col col-md-1">Descripcion</label>
            <div class="col col-md-10">
              <textarea type="text" [(ngModel)]="objRec.descripcion" name="txtficha" class="form-control" placeholder="" rows="3"></textarea>
            </div>
          </div>

          <div class="row row-space-10 m-t-10">
            <label class="control-label col-md-1">Referencia</label>
            <div class="col-md-10">
                <input [(ngModel)]="objRec.referencia" name="refe" class="form-control" placeholder="Id para automatizaciones" required maxlength="60"/>
            </div>
          </div>

          <div class="row row-sd-10 m-t-20" *ngIf="haymov">
            <div class="col-md-6">
              <span *ngIf="haymov">
                <div class="note note-primary">
                  <div class="note-icon"><i class="fa fa-cash-register"></i></div>
                  <div class="note-content">
                    <h4><b>Ingreso de pago automático</b></h4>
                    <p> El día {{objBcoMov.fecha}} ingresó un pago {{objBcoMov.descripcion}} con documento {{objBcoMov.documento}} y asunto {{objBcoMov.asunto}} por el importe debito {{objBcoMov.debito}} y crédito {{objBcoMov.credito}} </p>
                  </div>
                </div>
              </span>
            </div>
          </div>


          <!-- <h5 class="m-t-20 border-bottom"><i class="fa fa-bullhorn"></i>  Pie del </h5> -->
          <div class="row row-space-10 m-t-20 m-b-15">
            <label class="control-label col-md-1 m-t-10 ">Importe </label>
            <div class="col-md-1">
              <select class="form-control" (change)="onChangeMon($event.target.value)">
                  <option *ngFor="let mon of varsMon" [selected]="lamon.simbolo.trim() == mon.simbolo.trim()" [ngValue]="lamon" >{{mon.simbolo}}</option>
              </select>
            </div>

            <div class="col-md-2">
              <input [(ngModel)]="objRec.importe" name="elimpo" class="form-control" placeholder="" required appDigits/>
            </div>
          </div>

          <div class="row row-space-10 m-b-15">
            <label class="control-label col col-md-1">Observaciones</label>
            <div class="col col-md-10">
              <textarea type="text" [(ngModel)]="objRec.notas" name="txtficha" class="form-control" placeholder="" rows="3"></textarea>
            </div>
          </div>

          <div class="form-group row m-b-15 m-l-40">
              <div class="register-buttons">
                  <button type="button" class="btn btn-white height-30  m-l-20 width-150" title="" (click)="volver()"><span class="fa fa-arrow-left btn-icon mr-2"></span>Volver</button>
                  <button type="submit" class="btn btn-white height-30 m-l-20 width-150" title="">
                      <span class="fa fa-check btn-icon mr-2" style="color: darkred"></span>Confirmar</button>

              </div>
          </div>
      </form>
  </div>
  <!-- end register-content -->
</panel>
<!-- end panel -->
