<panel title="Crear un/a usuaria/o">
    <div class="register-content">

        <form #f="ngForm" (ngSubmit)="crearUsuario(f)" class="margin-bottom-0">
            <label class="control-label">Usuario/a<span class="text-danger">*</span></label>
            <div class="row m-b-15">
                <div class="col-md-8">
                    <input [(ngModel)]="objPerfil.userName" name="name" class="form-control" placeholder="Id del usuaria/o" required maxlength="60"/>
                </div>
            </div>
            
            <label class="control-label">Nombre completo<span class="text-danger">*</span></label>
            <div class="row m-b-15">
                <div class="col-md-8">
                    <input [(ngModel)]="objPerfil.fullname" name="fullname" class="form-control" placeholder="Nombre completo" required maxlength="60"/>
                </div>
            </div>

            <label class="control-label">eMail</label>
            <div class="row m-b-15">
                <div class="col-md-8">
                    <input type="email" [(ngModel)]="objPerfil.email" name="email" class="form-control" placeholder="Email address" required maxlength="60"/>
                </div>
            </div>

            <label class="control-label">Numero de Afiliado<span class="text-danger">*</span></label>
            <div class="row m-b-15">
                <div class="col-md-3">
                    <input [(ngModel)]="objPerfil.afinro" name="fullname" class="form-control" placeholder="Nombre completo" required maxlength="60"/>
                </div>
            </div>


            <!-- begin table-responsive -->
            <label class="control-label">Roles del usuaria/o<span class="text-danger">*</span></label>
            <div class="table-responsive">
                <table class="table table-striped m-b-0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Descripcion</th>
                            <th>Nivel</th>
                            <th>M</th>
                            <th width="1%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of rolesMarcados">
                            <td>{{item.rol.idRol}}</td>
                            <td>{{item.rol.nombre}}</td>
                            <td>{{item.rol.nivel}}</td>
                            <td class="with-checkbox">
                                <div class="checkbox checkbox-css">
                                    <input type="checkbox" [(ngModel)]="item.selected" [value]="item.selected" id="{{item.rol.idRol}}" name="{{item.rol.idRol}}" [checked]="item.selected" />
                                    <label for="{{item.rol.idRol}}">&nbsp;</label>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="form-group row m-b-15 m-l-40">
                <div class="register-buttons">
                    <button type="button" class="btn btn-white height-30  m-l-20 width-150" title="" (click)="volver()"><span class="fa fa-arrow-left btn-icon mr-2"></span>Volver</button>
                    <button type="submit" class="btn btn-white height-30 m-l-20 width-150" title="">
                        <span class="fa fa-check btn-icon mr-2" style="color: darkred"></span>Confirmar</button>
                    
                </div>
            </div>
        </form>
    </div>
    <!-- end register-content -->
</panel>
<!-- end panel -->


