<!-- start page title -->
<app-pagetitle title="Notifications" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
<!-- end page title -->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">Alerts Notifications</h4>
                <div class="row">
                    <div class="col-xl-6">
                        <div class="">
                            <h4 class="font-size-14">Default Notifications Alerts</h4>
                            <p class="card-title-desc">Alerts as an optional dismiss button. For proper styling, use one
                                of the four <strong>required</strong> contextual classes (e.g.,
                                <code>.alert-success</code>). For inline
                                dismissal, use the alerts jQuery plugin.
                            </p>
                            <div class="mb-4">
                                <ngb-alert [dismissible]="false" type="primary">
                                    A simple primary alert—check it out!
                                </ngb-alert>
                                <ngb-alert [dismissible]="false" type="secondary">
                                    A simple secondary alert—check it out!
                                </ngb-alert>
                                <ngb-alert [dismissible]="false" type="success">
                                    A simple success alert—check it out!
                                </ngb-alert>
                                <ngb-alert [dismissible]="false" type="danger">
                                    A simple danger alert—check it out!
                                </ngb-alert>
                                <ngb-alert [dismissible]="false" type="warning">
                                    A simple warning alert—check it out!
                                </ngb-alert>
                                <ngb-alert [dismissible]="false" type="info">
                                    A simple info alert—check it out!
                                </ngb-alert>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->

                    <div class="col-xl-6">
                        <h4 class="font-size-14">Link color</h4>
                        <p class="card-title-desc">Alerts as an optional dismiss button. Use the
                            <code>.alert-link</code> utility class to
                            quickly provide matching colored links within any alert.
                        </p>
                        <div class="mb-4">
                            <ngb-alert [dismissible]="false" type="primary">
                                A simple primary alert with <a href="javascript: void(0);" class="alert-link">an example
                                    link</a>. Give it
                                a click if you
                                like.
                            </ngb-alert>
                            <ngb-alert [dismissible]="false" type="secondary">
                                A simple secondary alert with <a href="javascript: void(0);" class="alert-link">an
                                    example link</a>. Give
                                it a click if you
                                like.
                            </ngb-alert>
                            <ngb-alert [dismissible]="false" type="success">
                                A simple success alert with <a href="javascript: void(0);" class="alert-link">an example
                                    link</a>. Give it
                                a click if you
                                like.
                            </ngb-alert>
                            <ngb-alert [dismissible]="false" type="danger">
                                A simple danger alert with <a href="javascript: void(0);" class="alert-link">an example
                                    link</a>. Give it
                                a click if you
                                like.
                            </ngb-alert>
                            <ngb-alert [dismissible]="false" type="warning">
                                A simple warning alert with <a href="javascript: void(0);" class="alert-link">an example
                                    link</a>. Give it
                                a click if you
                                like.
                            </ngb-alert>
                            <ngb-alert [dismissible]="false" type="info">
                                A simple info alert with <a href="javascript: void(0);" class="alert-link">an example
                                    link</a>. Give it a
                                click if you like.
                            </ngb-alert>
                        </div>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->

                <div class="row mt-4">
                    <div class="col-xl-6">
                        <h4 class="font-size-14">Dismissing</h4>
                        <p class="card-title-desc">
                            Add a dismiss button and the <code>.alert-dismissible</code> class, which adds extra padding
                            to the right of the alert and positions the <code>.btn-close</code> button.
                        </p>
                        <div class="mb-4">
                            <div *ngFor="let color of alertData">
                                <ngb-alert type="{{color.color}}" (close)="close(color, alertData)"
                                    class="custom-alert">
                                    A simple {{color.color}} alert—check it out!
                                </ngb-alert>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->

                    <div class="col-xl-6">

                        <h4 class="font-size-14">With Icon</h4>
                        <p class="card-title-desc">
                            Add a dismiss button and the <code>.alert-dismissible</code> class, which adds extra padding
                            to the right of the alert and positions the <code>.btn-close</code> button & with Icon.
                        </p>
                        <div class="">
                            <div *ngFor="let color of alertData">
                                <ngb-alert type="{{color.color}}" (close)="close(color, alertData)"
                                    class="custom-alert">
                                    <i class="mdi {{color.icon}} me-2"></i>
                                    A simple {{color.color}} alert—check it out!
                                </ngb-alert>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
        </div>
    </div>
</div>