<panel title="Lista de ciudades">
    <div class="register-content">
        <!-- begin table-responsive -->
        <div class="row row-space-10 m-b-15">
            <div class="col-md-2">
                <label class="control-label">Departamento</label>
                <select class="form-control" (change)="onChange($event.target.value)">                                
                    <option *ngFor="let item of varsDep" [selected]="elDep.nombre.trim() == item.nombre.trim()" [ngValue]="item" >{{item.nombre}}</option>
                </select>
            </div>
        </div>
        <div class="row row-space-10 m-b-15">
            <div class="col-md-6"> 
                <h4>Ciudades de {{elDep.nombre}}</h4>
                <div class="row row-space-10 m-b-15">
                    <div *ngIf="abierto" class="m-l-20 card-body col-md-8" style="background-color:lightsteelblue;">
                        <form #f="ngForm" (ngSubmit)="creoCiudad(f)" class="margin-bottom-0 row">
                            <label class="control-label">Nombre<span class="text-danger">*</span></label>
                            <div class="col-md-6 m-b-15">
                                <input type="text" [(ngModel)]="objCiud.nombre" name="nomciud" class="form-control rigth" placeholder="Nombre de la ciudad" required />
                            </div>
                            <div class="form-group m-l-40">
                                <div class="register-buttons">
                                    <button type="submit" class="btn btn-white height-30 m-l-20 width-30" title="">
                                            <span class="fa fa-check btn-icon mr-2" style="color: darkred"></span></button>
                                    <button type="button" class="btn btn-white height-30 m-l-20 width-30" title="" 
                                            (click)="cerrarAltaCiudad()"><span class="fa fa-window-close btn-icon mr-2"></span></button>                                
                                </div>
                            </div>
                        </form>
                    </div>
                    <div *ngIf="!abierto" class="col-md-4 offset-md-8">
                            <button type="button" class="btn btn-white height-30 width-140 m-l-20 " 
                            (click)="altaCiud()" title=""  routerLinkActive="router-link-active">
                            <span class="fa fa-plus btn-icon mr-2" style="color: darkred"></span>Crear Ciudad</button>           
                            <!-- <button type="button" class="btn btn-white height-30 width-100 m-l-20 " (click)="exportExcel()" title=""><span class="fa fa-file-excel btn-icon mr-2"></span>Exportar</button>            -->
                    </div>           
                </div>
                <div class="table-responsive">
                    <table class="table table-striped m-b-0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th width="1%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let city of lista" (click)="selCiudad(city)">
                                <td>{{city.id}}</td>
                                <td>
                                    <span *ngIf="city.id == laCiudad.id" style="color: darkred;">{{city.nombre}}</span>
                                    <span *ngIf="city.id != laCiudad.id">{{city.nombre}}</span>
                                </td>
                                <td class="with-btn" nowrap>
                                    <button type="button" class="btn btn-white height-30 " 
                                    (click)="modifCiud(city)"  routerLinkActive="router-link-active" 
                                    title="Editar la ciudad"><span class="fas fa-edit btn-icon m-r-2" style="font-size:12px"></span> </button>           
                                    
                                    <button type="button" class="btn btn-white height-30 " (click)="baja_ciud(city.id)"  routerLinkActive="router-link-active" 
                                    title="Borrar"><span class="fa fa-trash btn-icon mr-2" style="font-size:12px"></span> </button>                                        
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- end table-responsive -->
            </div> <!-- fin de la columna de ciudades-->


                <div class="col-md-6"> 
                    <h4>Localidades de {{laCiudad.nombre}}</h4>
                    <div class="row row-space-10 m-b-15">
                        <div *ngIf="loc_abierto" class="m-l-20 card-body col-md-8" style="background-color:lightsteelblue;">
                            <form #f="ngForm" (ngSubmit)="creoLoc(f)" class="margin-bottom-0 row">
                                <label class="control-label">Nombre<span class="text-danger">*</span></label>
                                <div class="col-md-6 m-b-15">
                                    <input type="text" [(ngModel)]="objLoc.nombre" name="nomloc" class="form-control rigth" placeholder="Nombre de la localidad" required />
                                </div>
                                <div class="form-group m-l-40">
                                    <div class="register-buttons">
                                        <button type="submit" class="btn btn-white height-30 m-l-20 width-30" title="">
                                                <span class="fa fa-check btn-icon mr-2" style="color: darkred"></span></button>
                                        <button type="button" class="btn btn-white height-30 m-l-20 width-30" title="" 
                                                (click)="cerrarAltaLoc()"><span class="fa fa-window-close btn-icon mr-2"></span></button>                                
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div *ngIf="!loc_abierto" class="col-md-4 offset-md-8">
                                <button type="button" class="btn btn-white height-30 width-140 m-l-20 " 
                                (click)="altaLoc()" title=""  routerLinkActive="router-link-active">
                                <span class="fa fa-plus btn-icon mr-2" style="color: darkred"></span>Crear Localidad</button>           
                                <!-- <button type="button" class="btn btn-white height-30 width-100 m-l-20 " (click)="exportExcel()" title=""><span class="fa fa-file-excel btn-icon mr-2"></span>Exportar</button>            -->
                        </div>           
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped m-b-0">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nombre</th>
                                    <th width="1%"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let loc of lista2" (click)="selLoc(loc)">
                                    <td>{{loc.id}}</td>
                                    <td>
                                        <span *ngIf="loc.id == laLocalidad.id" style="color: darkred;">{{loc.nombre}}</span>
                                        <span *ngIf="loc.id != laLocalidad.id">{{loc.nombre}}</span>
                                    </td>
                                    <td class="with-btn" nowrap>
                                        <button type="button" class="btn btn-white height-30 " 
                                        (click)="modifLoc(loc)"  routerLinkActive="router-link-active" 
                                        title="Editar"><span class="fa fa-edit btn-icon mr-2" style="font-size:12px"></span> </button>           
                                        
                                        <button type="button" class="btn btn-white height-30 " (click)="baja_loc(loc.id)"  routerLinkActive="router-link-active" 
                                        title="Borrar"><span class="fa fa-trash btn-icon mr-2" style="font-size:12px"></span> </button>                                        
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- end table-responsive -->
                </div> <!-- fin de la columna de ciudades-->
        </div>        
    </div>
    <!-- end register-content -->
</panel>
<!-- end panel -->