<div class="register-content">
    <form #f="ngForm" (ngSubmit)="creoPlano(f)" class="margin-bottom-0">
        <label class="control-label">Nombre del plano</label>
        <div class="row row-space-12">
            <div class="col-md-12 m-b-15">
                <input type="text" [(ngModel)]="descripcion" name="tedsc" class="form-control" required maxlength="40" />
            </div>
        </div>
        <div class="row row-space-12" *ngIf="hayError">
            <div class="col-md-12 m-b-15 text-danger">
                Debe ingresar descripción
            </div>
        </div>
        <div class="row my-2 row-space-12">
            <div class="col-md-6 m-b-15">
                <button class="btn btn-primary btn-block">Confirmar</button>
            </div>
            <div class="col-md-6 m-b-15">
                <button type="button" class="btn btn-danger btn-block" (click)="closemodal()">Cancelar</button>
            </div>
        </div>
    </form>
</div>