<!-- start page title -->
<app-pagetitle title="Usuario"></app-pagetitle>
<!-- end page title -->

<!-- begin panel -->

<div class="register-content">
    <!-- begin table-responsive -->
    <div class="row justify-content-between">
        <div class="col-2">
            <button (click)="createUser()" [disabled]="!objPermiso.creacion" class="btn btn-primary">Crear
                usuario</button>
        </div>
        <div class="row col-6">
            <div class="col-6">
                <div class="dropdown" ngbDropdown>
                    <button class="btn btn-info dropdown-toggle" type="button" ngbDropdownToggle id="dropdownMenuButton"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Filtro de rol <i class="mdi mdi-chevron-down"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" ngbDropdownMenu>
                        <a class="dropdown-item" href="javascript:void(0)" (click)="changeFilter(0)">Todos</a>
                        <a class="dropdown-item" href="javascript:void(0)" *ngFor="let item of allrol"
                            (click)="changeFilter(item.idRol)">{{item.descripcion}}</a>
                    </div>
                </div>
                
            </div>
            <div class="col-6">
                
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                        <input  type="text" class="form-control" (keyup)="filter()"  [(ngModel)]="searchKey" placeholder="Buscar..." aria-label="search" aria-describedby="basic-addon1">
                      </div>
                
            </div>
        </div>
        
    </div>
    <div class="table-responsive">
        <table class="table table-striped m-b-0">
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th>Nombre</th>
                    <th>Activo</th>
                    <th width="5%"></th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of listaFilter">

                    <td>{{item.userName}}</td>
                    <td>{{item.nombreCompleto}}</td>
                    <td>
                        <span *ngIf="item.enable" class="fas fa-check-circle btn-icon mr-2 mx-2"
                            style="font-size:12px; color:green"></span>
                        <span *ngIf="!item.enable" class="fas fa-ban btn-icon mr-2 mx-2"
                            style="font-size:12px; color:red"></span>
                    </td>
                    <td class="overflow-hidden">
                        <div class="d-inline-block" ngbDropdown container="body">
                            <a placement="top-right" class="text-muted dropdown-toggle font-size-18 px-2"
                                href="javascript:void(0);" role="button" data-bs-toggle="dropdown" ngbDropdownToggle
                                aria-haspopup="true">
                                <i class="mdi mdi-dots-vertical"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>

                                <a class="dropdown-item" href="javascript: void(0);" (click)="editUser(item.idUser)"
                                    *ngIf="objPermiso.edicion"><i class="fas fa-edit mx-1"></i>
                                    Editar
                                </a>
                                <a *ngIf="item.enable && objPermiso.borrado" class="dropdown-item" href="javascript: void(0);"
                                     (click)="deleteUser(item.userName)"><i
                                        class="fas fa-ban mx-1" style="font-size:12px; color:red"></i>
                                    Inhabilitar
                                </a>
                                <a *ngIf="!item.enable && objPermiso.borrado" class="dropdown-item" href="javascript: void(0);"
                                     (click)="activeUser(item.userName)"><i
                                        class="fas fa-check-circle mx-1" style="font-size:12px; color:green"></i>
                                    Habilitar
                                </a>

                                <a class="dropdown-item" href="javascript: void(0);" *ngIf="objPermiso.funcion1" (click)="resetPass(item.userName)"
                                    ><i class="fas fa-key mx-1"></i>
                                    Reset pass
                                </a>

                            </div>
                        </div>
                    </td>
                    <!-- <td class="with-btn" nowrap>
                            <button (click)="editUser(item.idUser)" [disabled]="!objPermiso.edicion" class="btn btn-sm btn-primary">Editar</button>
                        </td>
                        
                        <td class="with-btn" nowrap>
                            <button *ngIf="item.enable" class="btn btn-sm btn-danger" [disabled]="!objPermiso.borrado" (click)="deleteUser(item.userName)">Inhabilitar</button>
                            <button *ngIf="!item.enable" class="btn btn-sm btn-success" [disabled]="!objPermiso.borrado" (click)="activeUser(item.userName)">Habilitar</button>
                        </td>
                        <td class="with-btn" nowrap>
                            <button class="btn btn-warning btn-sm" [disable]="!objPermiso.funcion1" (click)="resetPass(item.userName)">Reset pass</button>
                        </td> -->
                </tr>

            </tbody>
        </table>
    </div>
    <!-- end table-responsive -->

</div>
<!-- end register-content -->