<!--
<panel title="Lista de roles" [noButton]="true">
begin panel -->

<app-pagetitle title="Roles"></app-pagetitle> 

    <div class="register-content">
        <div class="row">
            <div class="col-md-6">
                <button (click)="createRol()" [disabled]="!objPermiso.creacion" class="btn btn-primary">Crear rol</button>
            </div>
        </div>
        <!-- begin table-responsive -->
        <div class="table-responsive mt-2">
            <table class="table table-striped m-b-0">
                <thead>
                    <tr>
                        <th>Descripción</th>
                        <th>Es admin</th>
                        <th width="1%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of roles">
                        <td>{{item.descripcion}}</td>
                        <td>{{item.rolAdm && 'Si' || 'No'}}</td>
                        <td class="with-btn" nowrap>
                            <button (click)="editRol(item.idRol)" [disabled]="!objPermiso.edicion" class="btn btn-sm btn-primary">Editar</button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        <!-- end table-responsive -->

    </div>
    <!-- end register-content -->

<!-- end panel -->
