<div class="tarjeta" *ngFor="let item of listSD">
  <div class="row">
    <div class="col-md-4 mb-2">
      #Id
    </div>
    <div class="col-md-3 mb-2">
      Fecha
    </div>
    <div class="col-md-5 mb-2">
      Puntero
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 mb-2">
      <input type="text" name="id" class="form-control" [ngModel]="item.erpId" disabled>
    </div>
    <div class="col-md-3 mb-2">
      <input type="text" name="fec" class="form-control" [ngModel]="item.date | date: 'dd/MM/yyyy'" disabled>
    </div>
    <div class="col-md-5 mb-2">
      <input type="text" name="usu" class="form-control" [ngModel]="item.record" disabled>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 mb-2">
      Cuenta
    </div>
    <div class="col-md-5 mb-2">

    </div>
    <div class="col-md-4 mb-2">
      Localidad
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 mb-2">
      <input type="text" name="ctaid" class="form-control" [ngModel]="item.accountId" disabled>
    </div>
    <div class="col-md-5 mb-2">
      <input type="text" name="ctadsc" class="form-control" [ngModel]="item.accountDsc" disabled>
    </div>
    <div class="col-md-4 mb-2">
      <input type="text" name="loca" class="form-control" [ngModel]="item.accountLoc" disabled>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 mb-2">
      Dirección
    </div>
    <div class="col-md-4 mb-2">
      Agencia
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 mb-2">
      <input type="text" name="dire" class="form-control" [ngModel]="item.accountDir" disabled>
    </div>
    <div class="col-md-4 mb-2">
      <input type="text" name="usuario" class="form-control" [ngModel]="item.forwarderId" disabled>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mb-2">
      <p-accordion [multiple]="true">
        <p-accordionTab header="Items" [selected]="false">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#Item</th>
                <th scope="col">ERP Id</th>
                <th scope="col">Descripción</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Guardado</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pp of item.items">
                <th scope="row">{{pp.erpItem}}</th>
                <td>{{pp.prodId}}</td>
                <td>{{pp.prodDsc}}</td>
                <td>{{pp.savingQuantity}}</td>
                <td>{{pp.savedQuantity}}</td>
              </tr>
            </tbody>
          </table>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>
</div>
