
#intro {
    background-image: url("../../../../assets/opus/img/background/login-bg-17.jpg");
    height: 100vh;
    
}

.container .card-login{
    box-shadow: rgba(219, 219, 226, 0.267) 0px 7px 29px 0px;
}