
<div id="intro" class="bg-image    account-pages pt-sm-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="my-2 text-center mb-3">
                    <a routerLink="/" class="auth-logo">
                        <img width="60%" height="60%" style="background-size: cover;" src="assets/images/logoNew/logo.svg" alt="logo" >
                    </a>

                </div>
                <div class="card card-login overflow-hidden">
                    <div class="row justify-content-center g-0">
                        <div class="col-lg-10">
                            <div class="p-4">

                                <div>
                                    <h5>Ingrese al sistema</h5>
                                </div>

                                <div class="mt-3 pt-3">
                                    <form [formGroup]="loginForm" (ngSubmit)="formSubmit()">

                                        <div class="mb-3">
                                            <label for="username" class="fw-semibold">Usuario</label>
                                            <input type="text" formControlName="username" class="form-control" id="username"
                                                placeholder="nombre..."
                                                [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                                            <!-- <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                                <div *ngIf="f.username.errors.required">Debe ingresar un usuario</div>

                                            </div> -->
                                        </div>

                                        <div class="mb-3 mb-4">
                                            <label for="userpassword" class="fw-semibold">Contraseña</label>
                                            <input type="password" formControlName="password" class="form-control"
                                                id="userpassword" autocomplete="off"
                                                [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                                            <!-- <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                                <div *ngIf="f.password.errors.required">Debe ingresasr una contraseña</div>
                                            </div> -->
                                        </div>

                                        <div class="row align-items-center justify-content-center">
                                            <!-- <div class="col-6">
                                                <div class="form-check">
                                                    <input type="checkbox" formControlName="remember" class="form-check-input font-size-16"
                                                        id="remember-check">
                                                    <label class="form-check-label" for="remember-check">Recuerdame</label>
                                                </div>
                                            </div> -->
                                            <div class="col-6">
                                                <div class="text-end">
                                                    <button class="btn btn-primary w-md waves-effect waves-light"
                                                        type="submit">Ingresar</button>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- <div class="mt-4">
                                            <a routerLink="/account/recoverpwd" class="text-muted"><i
                                                    class="mdi mdi-lock me-1"></i> Forgot your password?</a>
                                        </div> -->
                                    </form>
                                </div>

                            </div>
                        </div>

                        <!-- <div class="col-lg-6">
                            <div class="p-lg-5 p-4 bg-logo h-100 d-none d-lg-block">
                                <div class="bg-overlay"></div>
                            </div>
                        </div> -->

                    </div>
                </div>
                <!-- end card -->
                <div class="mt-5 text-center text">
                    <!-- <p>Don't have an account ? <a routerLink="/account/register"
                            class="fw-semibold text-decoration-underline text-primary"> Sign up </a> </p> -->
                    <p class="text-white">© {{2021}} <b>CDS Comasa</b>
                    </p>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end account page -->

<ng-template #dialogpin let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Ingrese el pin enviado a su celular para
        poder ingresar</h4>
      <button type="button" class="close" (click)="d('Cross click')">×</button>
    </div>
    <div class="modal-body">
      <input type="textt" class="form-control" [(ngModel)]="pin">
    </div>
    <div class="modal-footer">
      <button class="btn btn-white" type="button" (click)="confPin()">Aceptar</button>
    </div>
  </ng-template>
