<div class="row row-space-10">
    <div class="col-12 input-group">
        <input type="file" class="form-control" (change)="eventChange($event.target)" id="fileUpload"
            aria-describedby="upload" aria-label="Upload">
        <button class="btn btn-outline-primary" (click)="FileAttach()" [disabled]="(attach === null)" type="button"
            id="upload">
            <i class="fas fa-upload"></i>
        </button>
    </div>

    <!-- attachment saved -->
    <div *ngIf="listAttached.length != 0" class="col-12">
        <div class='table-responsive'>
            <table class='table'>
                <thead>
                    <tr>
                        <th style="width: 5%;" scope='col'>#Id</th>
                        <th style="width: 30%;" scope='col'>Descripcion</th>
                        <th style="width: 30%;" scope='col'>Type</th>
                        <th style="width: 15%;" scope='col'>Fecha</th>
                        <th style="width: 20%;" scope='col'></th>
                    </tr>
                </thead>
                <tbody *ngFor="let item of listAttached;index as index">
                    <tr>
                        <th scope='row'>{{item.id}}</th>
                        <td>{{item.descripcion}}</td>
                        <td>{{item.type | typeAttachment}}</td>
                        <td>{{item.fecha | date: "dd/MM/yyyy HH:MM"}}</td>
                        <td>
                            <div class="row">
                                <div class="col-auto">
                                    <button class=" btn btn-sm btn-success" (click)="download(item.id,item.type,item.descripcion)" type="button">
                                        <i class="fas fa-download"></i>
                                    </button>
                                </div>
                                <div class="col-auto">
                                    <button class=" btn btn-sm btn-danger" (click)="deleteAttach(item.id)"
                                        type="button">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </div>


                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<ng-snotify></ng-snotify>