<!-- start page title -->
<app-pagetitle title="Lista de puntos de picking"></app-pagetitle>
<!-- end page title -->


<div class="card">
    <div class="card-body">
        <div class="register-content">
            <div class="row">
                <div class="col-md-6">
                    <button (click)="createPuntoPicking()" class="btn btn-primary mb-2">Crear punto de picking</button>
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Descripción</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of list">
                        <th scope="row">{{item.pointId}}</th>
                        <td>{{item.pointDsc}}</td>
                        <td>
                            <button (click)="editPuntoPicking(item, 'V')" class="btn btn-success"><i class="fas fa-eye"></i></button>
                            <button (click)="editPuntoPicking(item, 'M')" class="btn btn-warning ml-1"><i class="fas fa-edit"></i></button>
                            <button type="button" class="btn btn-danger ml-1" (click)="deletePuntoPicking(item.pointId)"><i class="fas fa-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>