<panel title="Lista de usuarias/os del sistema">
    <div class="register-content">
        <!-- begin table-responsive -->
        <div>

            <div class="form-group row m-b-15">
                <div class="col-md-3">
                    <div class="checkbox checkbox-css">
                        <input type="checkbox" [(ngModel)]="filtro" [value]="filtro" (change)="onChangeChk($event.target.value)" id="filtro" name="filtro" [checked]="filtro" />
                        <label for="filtro">Incluir usuari@s inactiv@s</label>
                    </div>
                </div>
                <div class="col-md-4 offset-md-5">
                    <button type="button" class="btn btn-white height-30 width-150 ml-40 " [routerLink]="['/usunew']" title=""  routerLinkActive="router-link-active">
                        <span class="fa fa-plus btn-icon mr-2" style="color:darkred"></span>Crear Usuaria/o</button>
                    <button type="button" class="btn btn-white height-30 width-100 m-l-20 " (click)="exportExcel()" title=""><span class="fa fa-file-excel btn-icon mr-2"></span>Exportar</button>
                </div>
            </div>
        </div>


        <!-- Tabla de PrimeNg -->
        <p-table #dt [paginator]="true" [rows]="10" [value]="lista" [responsive]="true" [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} ">
        <ng-template pTemplate="header">
          <tr>
              <th pSortableColumn="id" width="5%">
                  Id
              </th>
              <th pSortableColumn="userName" width="10%">
                  Usuari@
                  <p-sortIcon field="userName" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
              </th>
              <th pSortableColumn="fullname" width="20%">
                  Nombre Completo
                  <p-sortIcon field="fullname" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
              </th>
              <th pSortableColumn="email" width="30%">
                  e-Mail
              </th>
              <th pSortableColumn="enable" width="10%">
                  Activ@
                  <p-sortIcon field="enable" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
              </th>
              <th pSortableColumn="afinro" width="10%">
                  Afiliad@
                  <p-sortIcon field="afinro" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
              </th>
              <th width="15%">Opciones</th>
          </tr>
          <tr>
              <th>

              </th>
              <th>
                  <input pInputText style="width: 100%;" type="text" (input)="dt.filter($event.target.value, 'userName', 'contains')">
              </th>
              <th>
                  <input pInputText style="width: 100%;" type="text" (input)="dt.filter($event.target.value, 'fullname', 'contains')">
              </th>
              <th>
                <input pInputText style="width: 100%;" type="text" (input)="dt.filter($event.target.value, 'email', 'contains')">
              </th>
              <th>
                <input pInputText style="width: 100%;" type="text" (input)="dt.filter($event.target.value, 'enable', 'contains')">
              </th>
              <th>
                <input pInputText style="width: 100%;" type="text" (input)="dt.filter($event.target.value, 'afinro', 'contains')">
              </th>
              <th></th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
          <tr>
            <td>{{item.idUser}}</td>
            <td>
              {{item.userName}}
            </td>
            <td>
              {{item.fullname}}
            </td>
            <td>
              {{item.email}}
            </td>

            <td>{{item.enable && 'Si' || 'No'}}</td>
            <td>
              {{item.afinro}}
            </td>

            <td class="with-btn" nowrap>
              <button type="button" class="btn btn-white height-30 " [routerLink]="['/usuedi', item.userName.trim()]"  routerLinkActive="router-link-active"
              title="Editar usuario"><span class="fa fa-edit btn-icon mr-2" style="font-size:12px"></span> </button>

              <span *ngIf="!item.enable">
                  <button type="button" class="btn btn-white height-30 " (click)="rehabilitar(item.userName)"  routerLinkActive="router-link-active"
                  title="Re-habilitar"><span class="fa fa-check btn-icon mr-2" style="font-size:12px"></span> </button>
              </span>
              <span *ngIf="item.enable">
                  <button type="button" class="btn btn-white height-30 " (click)="inhabilitar(item.userName)"  routerLinkActive="router-link-active"
                  title="Marcar inactivo"><span class="fa fa-trash btn-icon mr-2" style="font-size:12px"></span> </button>
              </span>

            </td>
          </tr>
      </ng-template>
    </p-table>


    </div>
    <!-- end register-content -->
</panel>
<!-- end panel -->


<!-- <div class="table-responsive">
  <table class="table table-striped m-b-0">
      <thead>
          <tr>
              <th>#</th>
              <th>Usuario</th>
              <th>Nombre </th>
              <th>eMail</th>
              <th>Activo</th>
              <th>Cedula</th>
              <th width="1%"></th>
              <th width="1%"></th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of lista">
              <td class="with-img">
                  {{item.idUser}}
                  <img *ngIf="item.foto" src="data:image/png;base64,{{item.foto}}" class="img-rounded height-30 width-30" />
              </td>
              <td>{{item.userName}}</td>
              <td>{{item.fullname}}</td>
              <td>{{item.email}}</td>
              <td>{{item.enable && 'Si' || 'No'}}</td>
              <td>{{item.afinro}}</td>
              <td class="with-btn" nowrap>
                  <button type="button" class="btn btn-white height-30 " [routerLink]="['/usuedi', item.userName.trim()]"  routerLinkActive="router-link-active"
                  title="Editar usuario"><span class="fa fa-edit btn-icon mr-2" style="font-size:12px"></span> </button>

                  <span *ngIf="!item.enable">
                      <button type="button" class="btn btn-white height-30 " (click)="rehabilitar(item.userName)"  routerLinkActive="router-link-active"
                      title="Re-habilitar"><span class="fa fa-check btn-icon mr-2" style="font-size:12px"></span> </button>
                  </span>
                  <span *ngIf="item.enable">
                      <button type="button" class="btn btn-white height-30 " (click)="inhabilitar(item.userName)"  routerLinkActive="router-link-active"
                      title="Marcar inactivo"><span class="fa fa-trash btn-icon mr-2" style="font-size:12px"></span> </button>
                  </span>
              </td>
          </tr>
      </tbody>
  </table>
</div> -->
