<!-- start page title -->
<app-pagetitle title="Permisos"></app-pagetitle>
<!-- end page title -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">



                <div>
                    <div class="form-group row m-b-15">
                        <div class="col-md-3">
                            <div>
                                <select class="form-control" [(ngModel)]="elrol" (change)="onChangeRol($event.target.value)">
                                    <option *ngFor="let item of varsRol" [selected]="elrol.idRol == item.idRol"
                                        [ngValue]="item" name="cmbrol">{{item.descripcion}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div *ngIf="varsUsu != undefined && varsUsu.length > 0">
                                <select class="form-control" [(ngModel)]="elusu" (change)="onChangeUsu($event.target.value)">
                                    <option *ngFor="let item of varsUsu" [selected]="elusu.idUser == item.idUser"
                                        [ngValue]="item" name="cmbusu">{{item.nombreCompleto}} ({{ item.roles != undefined ? ( item.roles.length !=0 ? item.roles[0].descripcion : "") : "rol sin definir"}})</option>
                                </select>
                            </div>
                        </div>

                        <span *ngIf="indefhab">
                            <label style="color: green;">[Cuando es un permiso Sin Definir se habilita el
                                acceso]</label>
                        </span>

                        <span *ngIf="!indefhab">
                            <label style="color: red;">[Cuando es un permiso Sin Definir no se habilita el
                                acceso]</label>
                        </span>

                    </div>
                </div>
                <p-accordion [multiple]="true">
                    <p-accordionTab *ngFor="let item of lista;index as i" header="{{item.descripcion}}"
                        [selected]="true">
                        <div class="table-responsive">
                            <table class="table table-striped m-b-0">
                                <thead>
                                    <tr>
                                        <th width="30%">Descripción</th>
                                        <th width="20%">Identificador</th>
                                        <th *ngIf="varol" width="10%">Accede X Rol</th>
                                        <th *ngIf="vausu" width="10%">Accede X Usu</th>
                                        <th width="5%">Accede</th>
                                        <th width="25%">
                                            <button type="button" (click)="allAccess(item.items,true)"
                                                class="btn btn-success btn-rounded btn-sm mx-2"
                                                title="Habilitar todos"><i class="far fa-check-circle"></i></button>
                                            <button type="button" (click)="allAccess(item.items,false)"
                                                class="btn btn-danger btn-rounded btn-sm" title="Inhabilitar todos"><i
                                                    class="fas fa-ban"></i></button>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let hijo of item.items">
                                        <td>{{hijo.descripcion}}</td>
                                        <td>{{hijo.funcionId}}</td>
                                        <td *ngIf="varol">
                                            <span *ngIf="hijo.prmrol == 'U'">Sin Definir</span>
                                            <span *ngIf="hijo.prmrol == 'S'">Si</span>
                                            <span *ngIf="hijo.prmrol == 'N'">No</span>
                                        </td>
                                        <td *ngIf="vausu">
                                            <span *ngIf="hijo.prmusu == 'U'">Sin Definir</span>
                                            <span *ngIf="hijo.prmusu == 'S'">Si</span>
                                            <span *ngIf="hijo.prmusu == 'N'">No</span>
                                        </td>
                                        <td>
                                            <div>
                                                <span *ngIf="hijo.accede"
                                                    [ngClass]="{'text-success': hijo | colorIconAccess: 'success', 'text-warning': hijo | colorIconAccess: 'warning'}"
                                                    class="fas fa-check-circle btn-icon mr-2 mx-2"
                                                    style="font-size:12px"></span>
                                                <span *ngIf="!hijo.accede" class="fas fa-ban btn-icon mr-2 mx-2"
                                                    style="font-size:12px; color:red"></span>
                                            </div>
                                        </td>
                                        <td class="with-btn" nowrap>

                                            <button *ngIf="hijo.accede" type="button" class="btn btn-warning btn-sm "
                                                (click)="bloqueo(hijo)" routerLinkActive="router-link-active"
                                                title="Quitar acceso">Inhabilitar</button>

                                            <button *ngIf="!hijo.accede" type="button" class="btn btn-success btn-sm"
                                                (click)="acceso(hijo)" routerLinkActive="router-link-active"
                                                title="Brindar acceso">Habilitar</button>



                                            <button *ngIf="hijo.accede" type="button" class=" mx-1 btn btn-info btn-sm"
                                                (click)="ite_open(modalDialog, hijo)"
                                                routerLinkActive="router-link-active"
                                                title="Detalles de accesos">Detalle</button>
                                            <button *ngIf="hijo.accede" type="button"
                                                class="btn btn-danger btn-sm btn-rounded" (click)="borrar(hijo)"
                                                routerLinkActive="router-link-active"
                                                title="Eliminar definición de permisos"><span
                                                    class="fa fa-trash btn-icon mr-2" style="font-size:12px"></span>
                                            </button>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </p-accordionTab>

                </p-accordion>

            </div>
        </div>
    </div>
</div>


<!-- Inicio Model -->
<ng-template #modalDialog let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">{{titulo}}</h4>
        <button type="button" class="close" (click)="d('Cross click')">×</button>
    </div>
    <div class="modal-body">
        <form #f="ngForm" (ngSubmit)="edito(f)" method="post" class="form-custom">



            <div class="checkbox checkbox-css m-t-10">
                <input type="checkbox" [(ngModel)]="objItem.creacion" [value]="true" id="crear" name="crear" />
                <label for="crear">&nbsp;Permiso para crear elementos </label>
            </div>
            <div class="checkbox checkbox-css m-t-10">
                <input type="checkbox" [(ngModel)]="objItem.edicion" [value]="true" id="editar" name="editar" />
                <label for="editar">&nbsp;Permiso para editar y modificar datos </label>
            </div>
            <div class="checkbox checkbox-css m-t-10">
                <input type="checkbox" [(ngModel)]="objItem.borrado" [value]="true" id="borrar" name="borrar" />
                <label for="borrar">&nbsp;Permiso para eliminar o desactivar/activar elementos </label>
            </div>
            <div class="checkbox checkbox-css m-t-10">
                <input type="checkbox" [(ngModel)]="objItem.visualizacion" [value]="true" id="ver" name="ver" />
                <label for="ver">&nbsp;Permiso para visualizar </label>
            </div>
            <div class="checkbox checkbox-css m-t-10">
                <input type="checkbox" [(ngModel)]="objItem.emision" [value]="true" id="otros" name="otros" />
                <label for="otros">&nbsp;Permiso para exportar datos</label>
            </div>
            <div class="checkbox checkbox-css m-t-10">
                <input type="checkbox" [(ngModel)]="objItem.funcion1" [value]="true" id="function" name="function" />
                <label for="function">&nbsp;Permiso para accesos especiales</label>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-white height-30 m-t-10 " title="Enviar">Confirmar </button>
            </div>


            <!-- data-dismiss="modal" -->
        </form>
    </div>
</ng-template>
<ng-snotify></ng-snotify>