
.pass-button{position: absolute; top: 1rem;right: 1rem;}
.edit-button{position: absolute; top: 1rem;right: 5rem;}
.close-button{position: absolute; top: 1rem;right: 9rem;}

.enabled-name{
    border: solid rgb(132, 121, 121) 1px; border-radius: 5px;
}
.hide{display: none;}