<div class="card">
    <div class="card-body">
        <div class="register-content">
        <form #f="ngForm" (ngSubmit)="sendDevice(f)" class="margin-bottom-0">
            <label class="control-label">Id del dispositivo</label>
            <div class="row row-space-12">
                <div class="col-md-12 m-b-15">
                    <input type="text" [(ngModel)]="device.deviceId" name="devid" class="form-control" [disabled]="!esAlta" />
                </div>
            </div>
            <label class="control-label">Descripción</label>
            <div class="row row-space-12">
                <div class="col-md-12 m-b-15">
                    <input type="text" [(ngModel)]="device.deviceDsc" name="devdsc" class="form-control" [disabled]="visor" />
                </div>
            </div>
            <label class="control-label">Depósito</label>
            <div class="row row-space-12">
                <div class="col-md-4 m-b-15">
                    <input type="text" [(ngModel)]="device.store" name="dep" class="form-control" [disabled]="visor" />
                </div>
            </div>
            <label class="control-label">Usuario</label>
            <div class="row row-space-12">
                <div class="col-md-4 m-b-15">
                    <input type="text" [(ngModel)]="device.opusUser" name="usu" class="form-control" [disabled]="visor" />
                </div>
            </div>
            <div class="row row-space-12">
                <div class="col-md-6 m-b-15" *ngIf="!visor">
                    <button class="btn btn-primary btn-block">Confirmar</button>
                </div>
                <div class="col-md-6 m-b-15">
                    <button type="button" class="btn btn-danger btn-block" (click)="volver()">Volver</button>
                </div>
            </div>
        </form>
    </div>
    </div>
    
</div>