<panel title="Mensajes del sistema">
  <div class="register-content">
      <!-- begin table-responsive -->
      <div>
          <div class="form-group row m-b-15">
            <div class="card col-md-6">
              <div class="table-responsive">
                  <table class="table table-striped m-b-0">
                      <thead>
                          <tr>
                              <th>Codigo</th>
                              <th>Descripcion</th>
                              <th>Uso </th>
                              <th>Controlar</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let item of listop; let i = index">
                              <td>{{item.codigo}}</td>
                              <td>{{item.descripcion}}</td>
                              <td>{{item.uso}}</td>
                              <td class="with-checkbox">
                                <div class="checkbox checkbox-css">
                                    <input type="checkbox" [(ngModel)]="item.activo" [value]="item.activo" id="{{item.codigo}}" name="{{item.codigo}}" [checked]="item.activo" (click)="cambio(i)"/>
                                    <label for="{{item.codigo}}">&nbsp;</label>
                                </div>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
            </div>
              <div class="m-l-10">
                  <button type="button" class="btn btn-warning height-30 width-40 m-l-20"
                  title=""  (click)="cargo()" ><span class="fa fa-redo btn-icon mr-2"></span></button>
                  <button type="button" class="btn btn-white height-30  m-l-20 " (click)="exportExcel()" title=""><span class="fa fa-file-excel btn-icon mr-2"></span>Exportar</button>
              </div>
          </div>
      </div>
      <div class="table-responsive">
        <!-- Tabla de PrimeNg -->
        <p-table #dt [paginator]="true" [rows]="20" [value]="lista" [responsive]="true" [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} ">
          <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="id" width="5%">
              #
              <p-sortIcon field="id" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
            </th>
            <th pSortableColumn="codigo" width="10%">
              Codigo
              <p-sortIcon field="codigo" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
            </th>
            <th pSortableColumn="mensaje" width="20%">
              Mensaje
              <p-sortIcon field="mensaje" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
            </th>
            <th pSortableColumn="entidad" width="15%">
              Entidad
              <p-sortIcon field="entidad" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
            </th>
            <th pSortableColumn="key" width="15%">
              Identificador
              <p-sortIcon field="key" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
            </th>
            <th pSortableColumn="notas" width="30%">
              Notas
              <p-sortIcon field="notas" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
            </th>
            <th width="5%">Opciones</th>
          </tr>
          <tr>
            <th>
              <input pInputText style="width: 100%;" type="text" (input)="dt.filter($event.target.value, 'id', 'contains')">
            </th>
            <th>
                <input pInputText style="width: 100%;" type="text" (input)="dt.filter($event.target.value, 'codigo', 'contains')">
            </th>
            <th>
              <input pInputText style="width: 100%;" type="text" (input)="dt.filter($event.target.value, 'mensaje', 'contains')">
            </th>
            <th>
              <input pInputText style="width: 100%;" type="text" (input)="dt.filter($event.target.value, 'entidad', 'contains')">
            </th>
            <th>
              <input pInputText style="width: 100%;" type="text" (input)="dt.filter($event.target.value, 'key', 'contains')">
            </th>
            <th>
              <input pInputText style="width: 100%;" type="text" (input)="dt.filter($event.target.value, 'notas', 'contains')">
            </th>
          </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
            <tr>
              <td>{{item.id}}</td>
              <td>{{item.codigo}}</td>
              <td>{{item.mensaje}}</td>
              <td>{{item.entidad}}</td>
              <td>{{item.key}}</td>
              <td>{{item.notas}}</td>

              <td class="with-btn" nowrap>
                <button type="button" class="btn btn-white height-30 "   routerLinkActive="router-link-active"
                title="Informacion"><span class="fa fa-edit btn-icon mr-2" style="font-size:12px"></span> </button>
              </td>
            </tr>
          </ng-template>
        </p-table>

      </div>
      <!-- end table-responsive -->
  </div>
  <!-- end register-content -->
</panel>
<!-- end panel -->


