<panel title="Datos del núcleo">
  <div class="register-content">

    <form #f="ngForm" (ngSubmit)="creoNucleo(f)" class="margin-bottom-0 margin-top-10">
      <div class="row row-space-10 m-b-10">
        <span *ngIf="lopido" class="m-l-20 card-body col-md-8" style="background-color:salmon;">
          <div class="row justify-content-center ">
            <div class="row col-12">
              <div class="col-5 row form-group">
                <label class="col-3" for="sub">Subgrupo</label>
                <input #sub type="number" class="col-9 form-control" id="sub" aria-describedby="sub">
              </div>
              <div class="col-5 row form-group">
                <label class="col-3" for="region">Region</label>
                <input #reg type="text" [(ngModel)]="region" name="reg" class="col-9 form-control" placeholder="Mont(M) o Int(I)" id="region" aria-describedby="region">
              </div>
              <div class="col-2">
                <button type="button" class="btn btn-white height-30  m-l-10 width-150" title="" (click)="getProximo(sub.value,reg.value)">
                  <span class="fa fa-lock btn-icon mr-2"></span>Cargar </button>

              </div>
              
            </div>

          </div>
        </span>
        <span *ngIf="!lopido" class="m-l-20 card-body col-md-8" style="background-color:lightsteelblue;">
          <div class="row row-space-10 ">
            <label class="control-label">Id. del Núcleo</label>
            <div class="col-md-2 m-b-15">
              <input type="text" [(ngModel)]="idNucleo" (change)="cambioId($event.target.value)" name="id" class="form-control" placeholder=""  />
            </div>
            <div class="register-buttons">
              <button type="button" class="btn btn-white height-35  m-l-10 width-40" title="" (click)="reabro()">
                <span class="fa fa-lock-open btn-icon mr-2"></span></button>
            </div>
            <div class="col col-md-6">
              <input type="text" [(ngModel)]="objNucleo.nombre" name="nomdis" class="form-control" placeholder=""
                disabled />
            </div>
          </div>
        </span>
        <div class="form-group col col-md-3 m-b-15 m-l-40">
          <div class="register-buttons row">
            <button type="button" class="btn btn-white height-30  m-l-20 width-150" title="" (click)="volver()"><span
                class="fa fa-arrow-left btn-icon mr-2"></span>Volver</button>
          </div>
        </div>
      </div>

      <div *ngIf="!lopido">

        <h5 class="m-t-35 border-bottom m-b-20"><i class="fa fa-cube"></i> Datos generales del núcleo</h5>
        <div class="row row-space-10 m-b-15">

          <label class="control-label col col-md-2">Descripcion <span class="text-danger">*</span></label>

          <div class="col col-md-8">
            <span *ngIf="objNucleo != undefined">
              <input *ngIf="nivel <= 10" type="text" [(ngModel)]="objNucleo.nombre" name="nom" class="form-control"
                placeholder="" disabled />
              <input *ngIf="nivel == 50 || nivel ==90" type="text" [(ngModel)]="objNucleo.nombre" name="nom"
                class="form-control" placeholder="" />
            </span>
          </div>
        </div>
        <div class="row row-space-10 m-b-15">
          <label class="control-label col col-md-2">Institución <span class="text-danger">*</span></label>
          <div class="col col-md-8 ">
            <input type="text" [(ngModel)]="objNucleo.institucion" name="ins" class="form-control" placeholder="" />
          </div>
        </div>
        <div class="row row-space-10 m-b-15">
          <label class="control-label col col-md-2">Envío al interior</label>
          <div class="col col-md-8 ">
            <input type="text" [(ngModel)]="objNucleo.fantasia" name="fans" class="form-control"
              placeholder="Indicar por que agencia y a que persona se hacen los envios" />
          </div>
        </div>
        <div class="row row-space-10 m-b-15">
          <label class="control-label col col-md-2">Subgrupo <span class="text-danger">*</span></label>
          <div class="col col-md-2">
            <input type="number" [(ngModel)]="objNucleo.subgrupo" name="sub" class="form-control" placeholder=""
              disabled />
          </div>

          <div class="col row">
            <label for="tipo_cot" class="col-auto">Tipo de cotizacion</label>
            <div class="col-md-4 m-l-10">
              <select class="form-control" id="tipo_cot" [value]="objNucleo.tipo_cot" name="tipo_cot"
                [(ngModel)]="objNucleo.tipo_cot">
                <option selected value="F">Fija</option>
                <option value="P">Porcentual</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row row-space-10 m-b-15">
          <label class="control-label col col-md-2">E-Mail</label>
          <div class="col col-md-8">
            <input type="text" [(ngModel)]="objNucleo.email" name="emai" class="form-control" placeholder="" />
          </div>
        </div>

        <div class="row row-space-10 m-b-15">
          <label class="control-label col col-md-2">Dirección</label>
          <div class="col col-md-8 ">
            <input type="text" [(ngModel)]="objNucleo.direccion" name="dir" class="form-control" placeholder="" />
          </div>
        </div>

        <div class="row row-space-10 m-b-15">
          <label class="control-label col col-md-2">Ciudad <span class="text-danger">*</span></label>
          <div class="col-md-2 m-l-10">
            <select *ngIf="varsCiud !== undefined && laCiud !== undefined" class="form-control"
              (change)="onChangeCiud($event.target.value)">
              <option *ngFor="let item of varsCiud" [hidden]="item.dep | departamento:region" [selected]="laCiud.nombre.trim() == item.nombre.trim()"
                [ngValue]="item">{{item.nombre}}</option>
            </select>
          </div>
          <button type="button" (click)="openCiud(altaCiudad)" class="btn btn-white height-35  m-l-10 width-40"
            title="">
            <span class="fa fa-plus-circle btn-icon mr-2"></span></button>

        </div>
        <div class="row row-space-10 m-b-15">
          <label class="control-label col col-md-2">Localidad</label>
          <div class="col-md-2 m-l-10">
            <select class="form-control" (change)="onChangeLoc($event.target.value)">
              <option *ngFor="let itlo of varsLoc" [selected]="laLoca.nombre.trim() == itlo.nombre.trim()"
                [ngValue]="itlo">{{itlo.nombre}}</option>
            </select>
          </div>
          <button type="button" (click)="openLoc(altaLoc)" class="btn btn-white height-35  m-l-10 width-40" title="">
            <span class="fa fa-plus-circle btn-icon mr-2"></span></button>
        </div>

        <div class="row row-space-10 m-b-15">
          <label class="control-label col col-md-2">Forma Civil</label>
          <div class="col-md-2 m-l-10">
            <select class="form-control" (change)="onChangeFC($event.target.value)">
              <option *ngFor="let forc of forma" [selected]="forma[laforma].trim() == forc.trim()" [ngValue]="forc">
                {{forc}}</option>
            </select>
          </div>
        </div>
        <div class="row row-space-10 m-b-15">
          <label class="control-label col col-md-2">Año de creación</label>
          <div class="col col-md-2 ">
            <input type="number" [(ngModel)]="objNucleo.anio" name="anio" class="form-control" placeholder="" />
          </div>
        </div>
        <div class="row row-space-10 m-b-15">
          <label class="control-label col col-md-2">Teléfonos </label>
          <div class="col col-md-4">
            <input type="text" [(ngModel)]="objNucleo.telefono" name="tel" class="form-control" placeholder="" />
          </div>
        </div>




        <h5 class="m-t-40 border-bottom m-b-30"><i class="fa fa-cubes"></i> Relación con SINTEP</h5>
        <div class="row row-space-10 m-b-15">
          <label class="control-label col col-md-2">Forma de pago</label>
          <div class="col-md-3 m-l-10" *ngIf="laVia != undefined && laVia.nombre != undefined">
            <select class="form-control" (change)="onChangeVia($event.target.value)">
              <option *ngFor="let item of varsVia" [selected]="laVia.nombre.trim() == item.nombre.trim()"
                [ngValue]="item">{{item.nombre}}</option>
            </select>
          </div>
        </div>
        <div class="row row-space-10 m-b-15">
          <label class="control-label col col-md-2">Cuenta </label>
          <div class="col col-md-4">
            <input type="text" [(ngModel)]="objNucleo.cuenta" name="cta" class="form-control" placeholder="" />
          </div>
        </div>

        <div class="row row-space-10 m-b-15">
          <label class="control-label col col-md-2">Fecha de ingreso </label>
          <div class="col-md-4 m-b-15">
            <input type="date" [(ngModel)]="objNucleo.fecingreso" name="fecing" class="form-control" placeholder="" />
          </div>
        </div>
        <div class="row row-space-10 m-b-15">
          <label class="control-label col col-md-2">Fecha de inicio de pagos </label>
          <div class="col-md-4 m-b-15">
            <input type="date" [(ngModel)]="objNucleo.fecinipago" name="fecipa" class="form-control" placeholder="" />
          </div>
        </div>

        <div *ngIf="idNucleo != 1" class="row row-space-10 m-b-15">
          <label class="control-label col col-md-2">Ultimo pago </label>
          <div class="col col-md-4">
            <span *ngIf="nivel > 50 ">
              <input type="text" [(ngModel)]="objNucleo.fecultpago" name="fecult" class="form-control"
                placeholder="AAAAMM" maxlength="6" appOnlyDigits />
            </span>
            <span *ngIf="nivel <= 50 ">
              <input type="text" [(ngModel)]="objNucleo.fecultpago" name="fecult" class="form-control"
                placeholder="AAAAMM" maxlength="6" appOnlyDigits disabled />
            </span>
          </div>
        </div>

        <div class="row row-space-10 m-b-15">
          <label class="control-label col col-md-2">Categoria (ABC) </label>
          <div class="col col-md-4">
            <span *ngIf="nivel > 50 ">
              <input type="text" [(ngModel)]="objNucleo.categoria" name="cate" class="form-control"
                placeholder="Categoria A,B,C" />
            </span>
            <span *ngIf="nivel <= 50 ">
              <input type="text" [(ngModel)]="objNucleo.categoria" name="cate" class="form-control"
                placeholder="Categoría A,B,C" disabled />
            </span>
          </div>
        </div>

        <h5 class="m-t-40 border-bottom m-b-30"><i class="fa fa-cubes"></i> Definición de Delegados</h5>
        <div class="row row-space-10 m-b-15">
          <label class="control-label col col-md-2">Delegada/o Principal</label>
          <div class="col col-md-2 ">
            <input *ngIf="objDel1 != null" type="text" [(ngModel)]="objDel1.cedula" name="d1id" class="form-control"
              placeholder="" disabled />
          </div>
          <div class="col col-md-4 ">
            <input *ngIf="objDel1 != null" type="text" [(ngModel)]="delegado1" name="d1dsc" class="form-control"
              placeholder="" disabled />
          </div>
          <span *ngIf="nivel == 50 || nivel ==90">
            <button type="button" (click)="opend1(modalDialog2)" class="btn btn-white height-30  m-l-10 width-40"
              title="">
              <span class="fa fa-search btn-icon mr-2"></span></button>
            <button type="button" (click)="cleand1()" class="btn btn-white height-30  m-l-10 width-40" title="">
              <span class="fa fa-trash btn-icon mr-2"></span></button>
          </span>
        </div>
        <div class="row row-space-10 m-b-15">
          <label class="control-label col col-md-2">Delegado Suplente</label>
          <div class="col col-md-2 ">
            <input *ngIf="objDel2 != null" type="text" [(ngModel)]="objDel2.cedula" name="d2id" class="form-control"
              placeholder="" disabled />
          </div>
          <div class="col col-md-4 ">
            <input *ngIf="objDel2  != null" type="text" [(ngModel)]="delegado2" name="d2dsc" class="form-control"
              placeholder="" disabled />
          </div>
          <span *ngIf="nivel == 50 || nivel ==90">
            <button type="button" (click)="opend2(modalDialog2)" class="btn btn-white height-30  m-l-10 width-40"
              title="">
              <span class="fa fa-search btn-icon mr-2"></span></button>
            <button type="button" (click)="cleand2()" class="btn btn-white height-30  m-l-10 width-40" title="">
              <span class="fa fa-trash btn-icon mr-2"></span></button>
          </span>
        </div>


        <div class="table-responsive">
          <table class="table table-striped m-b-0">
            <thead>
              <tr>
                <th>Cedula</th>
                <th>Nombre</th>
                <th>Rol</th>
                <th>Desde</th>
                <th>
                  <button type="button" class="btn btn-white height-30 " (click)="opend3(modalDialog2)"
                    routerLinkActive="router-link-active" title="Asociar un delegado"><span
                      class="fas fa-plus btn-icon m-r-2" style="font-size:12px"></span>Delegados </button>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let dele of listadel">
                <td>{{dele.afiliado.cedula}}</td>
                <td>{{dele.afiliado.apellidos.trim()}}, {{dele.afiliado.nombres.trim()}}</td>
                <td>{{dele.tipo}}</td>
                <td>{{dele.fecha|date:'dd/MM/yyyy'}}</td>
                <td class="with-btn" nowrap>
                  <button type="button" class="btn btn-white height-30 " (click)="bajarDelegado(dele.id)"
                    routerLinkActive="router-link-active" title="Borrar"><span class="fa fa-trash btn-icon mr-2"
                      style="font-size:12px"></span> </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>



        <div class="form-group row m-b-15 m-l-40">
          <div class="register-buttons">
            <button type="submit" class="btn btn-white height-30 m-l-20 width-150" title=""><span
                class="fa fa-check btn-icon mr-2" style="color:darkred"></span>Confirmar</button>
            <button type="button" (click)="ExcelAfil()" class="btn btn-secondary height-30 m-l-20 width-150"
              title=""><span class="fa fa-file-excel btn-icon mr-2"></span>Afiliad@s</button>
            <button *ngIf="nivel ==50 || nivel ==90" type="button" (click)="ExcelLog()"
              class="btn btn-secondary height-30 m-l-20 width-150" title=""><span
                class="fa fa-file-excel btn-icon mr-2"></span>Log de actividad</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <!-- end register-content -->
</panel>
<!-- end panel -->

<ng-template #modalDialog let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Seleccionar un núcleo existente</h4>
    <button type="button" class="close" (click)="d('Cross click')">×</button>
  </div>
  <div class="modal-body">

    <p-table #dt [paginator]="true" [rows]="20" [value]="lista" selectionMode="single" [(selection)]="idNucleo"
      dataKey="id" (onRowSelect)="elijo($event)" [responsive]="true" [showCurrentPageReport]="true"
      currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} ">

      <ng-template pTemplate="header">

        <tr>
          <th pSortableColumn="id" width="8%">
            Id
            <p-sortIcon field="id" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order"
              ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
          </th>
          <th pSortableColumn="nombre" width="30%">
            Nucleo
            <p-sortIcon field="nombre" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order"
              ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
          </th>
          <th pSortableColumn="institucion" width="15%">
            Institucion
            <p-sortIcon field="institucion" ariaLabel="Activate to sort"
              ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
            </p-sortIcon>
          </th>
          <th pSortableColumn="subgrupo" width="8%">
            SubGr
            <p-sortIcon field="subgrupo" ariaLabel="Activate to sort"
              ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
            </p-sortIcon>
          </th>
          <th pSortableColumn="ciudad.nombre" width="12%">
            Ciudad
            <p-sortIcon field="ciudad.nombre" ariaLabel="Activate to sort"
              ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
            </p-sortIcon>
          </th>
          <th pSortableColumn="enable" width="8%">
            Activ@
            <p-sortIcon field="enable" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order"
              ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
          </th>
          <th width="12%">Opciones</th>
        </tr>


        <tr>
          <th>
            <input pInputText style="width: 100%;" type="text"
              (input)="dt.filter($event.target.value, 'id', 'contains')">
          </th>
          <th>
            <input pInputText style="width: 100%;" type="text"
              (input)="dt.filter($event.target.value, 'nombre', 'contains')">
          </th>
          <th>
            <input pInputText style="width: 100%;" type="text"
              (input)="dt.filter($event.target.value, 'institucion', 'contains')">
          </th>
          <th>
            <input pInputText style="width: 100%;" type="text"
              (input)="dt.filter($event.target.value, 'subgrupo', 'contains')">
          </th>
          <th>
            <input pInputText style="width: 100%;" type="text"
              (input)="dt.filter($event.target.value, 'ciudad.nombre', 'contains')">
          </th>
          <th>
            <input pInputText style="width: 100%;" type="text"
              (input)="dt.filter($event.target.value, 'enable', 'contains')">
          </th>
          <th></th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-item let-rowIndex="rowIndex" [pSelectableRow]="item">
        <tr>
          <td>{{item.id}}</td>
          <td>{{item.nombre}}</td>
          <td>{{item.institucion}}</td>
          <td>{{item.subgrupo}}</td>
          <td>{{item.ciudad.nombre}}</td>
          <td>{{item.enable && 'Si' || 'No'}}</td>
          <td class="with-btn" nowrap>
            <button type="button" class="btn btn-white height-30 " (click)="elijo(item)" title="Seleccionar"><span
                class="fa fa-check btn-icon mr-2" style="font-size:12px"></span> </button>
          </td>
        </tr>
      </ng-template>
    </p-table>


  </div>
  <div class="modal-footer">
    <button class="btn btn-white" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

<ng-template #modalDialog2 let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Seleccionar afiliada/o del núcleo para delegada/o {{quedele}}</h4>
    <button type="button" class="close" (click)="d('Cross click')">×</button>
  </div>
  <div class="modal-body">
    <div class="table-responsive">


      <p-table #dt [paginator]="true" [rows]="20" [value]="listafi" [responsive]="true" [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} ">
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="cedula" width="10%">
              Cedula
              <p-sortIcon field="cedula" ariaLabel="Activate to sort"
                ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
              </p-sortIcon>
            </th>
            <th pSortableColumn="apellidos" width="30%">
              Apellidos
              <p-sortIcon field="apellidos" ariaLabel="Activate to sort"
                ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
              </p-sortIcon>
            </th>
            <th pSortableColumn="nombres" width="30%">
              Nombres
              <p-sortIcon field="nombres" ariaLabel="Activate to sort"
                ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
              </p-sortIcon>
            </th>
            <th pSortableColumn="elnucleo" width="10%">
              Nucleo
              <p-sortIcon field="elnucleo" ariaLabel="Activate to sort"
                ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
              </p-sortIcon>
            </th>
            <th width="10%">Opciones</th>
          </tr>
          <tr>
            <th>
              <input pInputText style="width: 100%;" type="text"
                (input)="dt.filter($event.target.value, 'cedula', 'contains')">
            </th>
            <th>
              <input pInputText style="width: 100%;" type="text"
                (input)="dt.filter($event.target.value, 'apellidos', 'contains')">
            </th>
            <th>
              <input pInputText style="width: 100%;" type="text"
                (input)="dt.filter($event.target.value, 'nombres', 'contains')">
            </th>
            <th>
              <input pInputText style="width: 100%;" type="text"
                (input)="dt.filter($event.target.value, 'elnucleo', 'contains')">
            </th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
          <tr>
            <td>{{item.cedula}}</td>
            <td>{{item.apellidos}}</td>
            <td>{{item.nombres}}</td>
            <td>{{item.elnucleo}}</td>

            <td class="with-btn" nowrap>
              <button type="button" class="btn btn-white height-30 " (click)="elijo2(item)" title="Seleccionar"><span
                  class="fa fa-check btn-icon mr-2" style="font-size:12px"></span> </button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-white" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

<ng-template #altaCiudad let-c="close" let-d="dismiss">
  <app-ciud-crear (ciudadChange)="objCiudad= $event" (winChange)="elijoCiudad()" (winClose)="closeCiud()">
  </app-ciud-crear>
</ng-template>

<ng-template #altaLoc>
  <app-loc-crear [ciudad]=(laCiud) (localidadChange)="objLoc=$event" (winLChange)="elijoLoc()"
    (winLClose)="closeCiud()"></app-loc-crear>
</ng-template>