<!-- begin panel -->
<panel title="Cambio de password" [noButton]="true">
    <div class="register-content">
        <form #f="ngForm" (ngSubmit)="changePass(f)" class="margin-bottom-0">
            <label class="control-label">Password nuevo <span class="text-danger">*</span></label>
            <div class="row row-space-10">
                <div class="col-md-6 m-b-15">
                    <input type="password" [(ngModel)]="passnew" name="passnew" class="form-control" required />
                </div>
            </div>
            <label class="control-label">Confirmar password <span class="text-danger">*</span></label>
            <div class="row row-space-10">
                <div class="col-md-6 m-b-15">
                    <input type="password" [(ngModel)]="passconf" name="passconf" class="form-control" required />
                </div>
            </div>

            <div class="register-buttons">
                <button type="submit" class="btn btn-primary btn-block btn-lg">Cambiar password</button>
            </div>
        </form>
    </div>
    <!-- end register-content -->
</panel>
<!-- end panel -->