<!-- start page title -->
<app-pagetitle title="Track Pedidos"></app-pagetitle>
<!-- end page title -->

<div class="card">
    <div class="card-body">
        <div class="register-content">
            <div class="row">
                <div class="col-md-4">
                    Id pedido
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Ingrese id de pedido de Opus" name="ped" [(ngModel)]="pedidoId">
                </div>
                <div class="col-md-6">
                    <button class="btn btn-primary" (click)="buscoPedido()">Buscar</button>
                </div>
            </div>
        </div>
        <div *ngIf="pedido != null" class="mt-5">
            <div class="row row-space-12">
                <div class="col-md-4 m-b-15">
                    <label class="control-label">Id del pedido</label>
                </div>
                <div class="col-md-4 m-b-15">
                    <label class="control-label">Fecha de creación</label>
                </div>
                <div class="col-md-4 m-b-15">
                    <label class="control-label">PPCC</label>
                </div>
            </div>
    
            <div class="row row-space-12">
                <div class="col-md-4 m-b-15">
                    <input type="text" [(ngModel)]="pedido.pendingOrder.orderId" name="sepaid" class="form-control" disabled />
                </div>
                <div class="col-md-4 m-b-15">
                    <input type="text" [(ngModel)]="fecha" name="sepafec" class="form-control" disabled />
                </div>
                <div class="col-md-4 m-b-15">
                    <input type="text" [(ngModel)]="pedido.pendingOrder.ppcc" name="creador" class="form-control" disabled />
                </div>
            </div>
    
            <div class="row row-space-12 mb-2 pt-2" style="border-style: solid; border-width: 1px;">
                <div *ngIf="!pedido.pendingOrder.inSeparation" class="col-md-12 m-b-15">
                    <label class="control-label" style="font-weight: bold;">Pedido no presente en ninguna separación</label>
                </div>
                <div *ngIf="pedido.pendingOrder.inSeparation" class="col-md-8 m-b-15">
                    <label class="control-label" style="font-weight: bold;">Pedido presente en la separación {{pedido?.separationHeader?.separationId}}</label>
                </div>
                <div class="col-md-4 m-b-15" *ngIf="pedido.pendingOrder.inSeparation">
                    <button class="btn btn-success" (click)="zoomSeparacion()">Zooming separación</button>
                </div>
            </div>
    
            <div class="row row-space-12">
                <div class="col-md-8 m-b-15">
                    <label class="control-label">Expediente</label>
                </div>
                <div class="col-md-4 m-b-15">
                    <label class="control-label">Stage</label>
                </div>
            </div>
    
            <div class="row row-space-12">
                <div class="col-md-8 m-b-15">
                    <input type="text" [(ngModel)]="pedido.pendingOrder.recordNumber" name="recnum" class="form-control" disabled />
                </div>
                <div class="col-md-4 m-b-15">
                    <input type="text" [(ngModel)]="pedido.pendingOrder.erpStage" name="stage" class="form-control" disabled />
                </div>
            </div>
    
            <div class="row row-space-12">
                <div class="col-md-8 m-b-15">
                    <label class="control-label">Cliente</label>
                </div>
                <div class="col-md-4 m-b-15">
                    <label class="control-label">Estado</label>
                </div>
            </div>
    
            <div class="row row-space-12">
                <div class="col-md-8 m-b-15">
                    <input type="text" [(ngModel)]="pedido.pendingOrder.client.clientDsc" name="clidsc" class="form-control" disabled />
                </div>
                <div class="col-md-4 m-b-15">
                    <input type="text" [(ngModel)]="estado" name="estado" class="form-control" disabled />
                </div>
            </div>
    
            <div class="row row-space-12">
                <div class="col-md-4 m-b-15">
                    <label class="control-label">Carril</label>
                </div>
                <div class="col-md-4 m-b-15">
                    <label class="control-label">Origen</label>
                </div>
                <div class="col-md-4 m-b-15">
                    <label class="control-label">Destino</label>
                </div>
            </div>
    
            <div class="row row-space-12">
                <div class="col-md-4 m-b-15">
                    <input type="text" [(ngModel)]="pedido.pendingOrder.lane.laneDsc" name="laneid" class="form-control" disabled />
                </div>
                <div class="col-md-4 m-b-15">
                    <input type="text" [(ngModel)]="pedido.pendingOrder.sourceStorage.storageDsc" name="origen" class="form-control" disabled />
                </div>
                <div class="col-md-4 m-b-15">
                    <input type="text" [(ngModel)]="destino" name="destino" class="form-control" disabled />
                </div>
            </div>
    
            <div class="row row-space-12">
                <div class="col-md-12 m-b-15">
                    <label class="control-label">Items</label>
                </div>
            </div>
    
            <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Producto</th>
                            <th scope="col">Cantidad</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of items">
                            <td>{{item.productCode.productDsc}}</td>
                            <td>{{item.quantity}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
